<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="kraka"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmab0914_2Sem_5;Integrated Security=False;User ID=dmab0914_2sem_5;Password=IsAllowed;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IService" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLib/Service/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                        contract="ServiceReference.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>